<!-- a.foresty Icon Button 컴포넌트 - 피그마 디자인 기반 -->

<!-- Medium Size Icon Buttons -->
<div class="icon-button-group">
  <!-- Medium Default State -->
  <button class="icon-button icon-button--medium" data-icon-button="medium-default" aria-label="추가">
    <div class="icon-button__icon">
      <img src="images/icons/Icon:24/Name=Plus.svg" alt="Plus" class="icon-button__icon-img">
    </div>
  </button>
  
  <!-- Medium Hover State -->
  <button class="icon-button icon-button--medium icon-button--hover" data-icon-button="medium-hover" aria-label="추가">
    <div class="icon-button__icon">
      <img src="images/icons/Icon:24/Name=Plus.svg" alt="Plus" class="icon-button__icon-img">
    </div>
  </button>
</div>

<!-- Large Size Icon Buttons -->
<div class="icon-button-group">
  <!-- Large Default State -->
  <button class="icon-button icon-button--large" data-icon-button="large-default" aria-label="바닥">
    <div class="icon-button__icon">
      <img src="images/icons/Icon:24/Name=Floor.svg" alt="Floor" class="icon-button__icon-img">
    </div>
  </button>
  
  <!-- Large Hover State -->
  <button class="icon-button icon-button--large icon-button--hover" data-icon-button="large-hover" aria-label="바닥">
    <div class="icon-button__icon">
      <img src="images/icons/Icon:24/Name=Floor.svg" alt="Floor" class="icon-button__icon-img">
    </div>
  </button>
</div>



<!-- Disabled State -->
<div class="icon-button-group">
  <button class="icon-button icon-button--medium" disabled data-icon-button="disabled" aria-label="비활성화">
    <div class="icon-button__icon">
      <img src="images/icons/Icon:24/Name=Plus.svg" alt="Plus" class="icon-button__icon-img">
    </div>
  </button>
</div>